/* Estilos generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4; /* Fondo blanco grisáceo */
    color: #2c3e50; /* Texto gris oscuro */
    line-height: 1.7;
}

/* Header */
header {
    background-color: #162635; /* Azul oscuro */
    color: white;
    padding: 1px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Logo y eslogan a la izquierda */
header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo img {
    max-width: 250px;
    height: auto;
}

header .logo .slogan {
    font: size 1.5em;
    color: #f39c12; /* Detalle dorado suave */
}

/* Navegación centrada */
header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

/* Botón de WhatsApp a la derecha */
.wp-button {
    background-color: #23303c; /* Fondo para el recuadro */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 250px;
}

.wp-button p {
        margin: 0;
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 0.8; /* Reducir el espacio entre líneas */
        margin-bottom: 4px; /* Menor espacio entre párrafos */
}

.wp-button a {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px;
    background-color: #f39c12; /* Fondo naranja para el botón */
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}

.wp-button a:hover {
    background-color: #000000; /* Color naranja más oscuro al hacer hover */
}


/* Estilo de las secciones */
section {
    padding: 50px 50px;
    margin: 80px auto;
    max-width: 1100px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

section h2 {
    font-size: 2.2rem;
    color: #1d2d50;
    margin-bottom: 25px;
    font-weight: 600;
}

section p {
    font-size: 1.1rem;
    color: #34495e;
    line-height: 1.8;
}

/* Disposición dinámica de las secciones */
#quienes-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto {
    max-width: 60%;
    text-align: justify;
}

#quienes-somos img {
    max-width: 30%;
    height: auto;
    margin-left: 20px;
}

#valores {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#valores img {
    max-width: 30%;
    height: auto;
    margin-right: 20px;
}

.texto {
    max-width: 60%;
    text-align: justify;
}


#servicios {
    background-color: #f5f5f5;
    text-align: justify;
}

.servicios2 {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    margin-top: 20px; /* Agrega un poco de espacio por encima de la imagen */
}

.servicios2 img {
    max-width: 100%; /* Ajusta la imagen al tamaño del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}

#consulta {
    background-color: #f5f5f5;
    text-align: justify; /* Justifica el texto */
}

/* Contenedor para el botón */
.wp-button2 {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente */
    margin-top: 20px; /* Agrega espacio entre el texto y el botón */
}

/* Estilos del botón de WhatsApp */
.wp-button2 a {
    padding: 8px 70px;
    background-color: #f39c12; /* Fondo naranja para el botón */
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}

.wp-button2 a:hover {
    background-color: #000000; /* Color más oscuro al hacer hover */
    color: #f39c12;
}

#clientes {
    background-color: #eceff1;
    text-align: justify; /* Justifica el texto */
}

.clientes2 {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    margin-top: 20px; /* Agrega un poco de espacio por encima de la imagen */
}

.clientes2 img {
    max-width: 100%; /* Ajusta la imagen al tamaño del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}


#contacto {
    background-color: #bdc3c7;
    display: block;
    text-align: center;
}

/* Botón flotante de volver arriba */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000; /* Negro */
    color: white;
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    padding: 7px 15px; /* Tamaño más cuadrado */
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: none;
}

#back-to-top:hover {
    transform: scale(1.1);
    background-color: #2c3e50; /* Un gris más oscuro al pasar el mouse */
}

/* Flecha blanca */
#back-to-top::before {
    font-size: 1.5rem;
    color: white;
}


/* Estilos de los enlaces de contacto */
a {
    color: #1d2d50;
    text-decoration: none;
}

a:hover {
    color: #f39c12;
}

/* Contenedor principal del footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #162635; /* Azul oscuro para el fondo */
    color: white;
}

/* Secciones del footer */
.footer-section {
    flex: 1;
    margin: 0 20px;
}

/* Títulos del footer */
.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lista de enlaces */
#footer-menu ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

#footer-menu ul li {
    margin-bottom: 5px;
}

#footer-menu ul li a {
    color: white;
    text-decoration: none;
}

#footer-menu ul li a:hover {
    text-decoration: underline;
}

/* Formulario de contacto */
#footer-contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer-contact-form input, #footer-contact-form textarea {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

#footer-contact-form button {
    padding: 10px 15px;
    background-color: #000000; /* Azul claro para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#footer-contact-form button:hover {
    background-color: #2c3e50; /* Azul oscuro para hover */
}

/* Información de contacto */
#footer-info p {
    text-align: center;
    line-height: 1;
    margin-bottom: 1px;
}

.form-element {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

/* Estilos para la nueva sección de imágenes */
.footer-images {
    display: flex;
    justify-content: center; /* Centra las imágenes */
    margin-top: 1px; /* Espaciado superior */
    padding: 10px; /* Espaciado alrededor */
    text-align: center; /* Asegura que las imágenes estén centradas en la sección */
}

.footer-images a {
    display: inline-block; /* Para que las imágenes se alineen de forma horizontal */
    margin: 10px; /* Espaciado entre las imágenes */
}

.footer-images img {
    max-width: 80px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.3s ease-in-out; /* Efecto de transformación */
}

.footer-images img:hover {
    transform: scale(1.3); /* Aumenta el tamaño de la imagen al pasar el ratón */
}


.slogan {
    font-size: 1.5rem;          /* Tamaño de fuente del eslogan */
    color: #ffffff;             /* Color blanco para el texto */
    margin-top: 1px;           /* Espacio superior ajustado */
    font-weight: 100 ;          /* Estilo en negrita */
    font-family: "Arial", sans-serif; /* Fuente específica */
    text-align: center;         /* Alineación centrada */
}

